<div class="bracket">
  <!-- Left Side Teams -->
  <div class="team-set teamsleft">
    <!-- Teams Left -->
    <div class="team" *ngFor="let team of teamsleft">
      {{ team.name }}
    </div>
  </div>
  <div class="team-set teamsleft1">
    <!-- Teams Left 1 -->
    <div class="team" *ngFor="let team of teamsleft1">
      {{ team.name }}
    </div>
  </div>

  <!-- Right Side Teams -->
  <div class="team-set teamsright1">
    <!-- Teams Right 1 -->
    <div class="team" *ngFor="let team of teamsright1">
      {{ team.name }}
    </div>
  </div>
  <div class="team-set teamsright">
    <!-- Teams Right -->
    <div class="team" *ngFor="let team of teamsright">
      {{ team.name }}
    </div>
  </div>
</div>
