/* Styles for team sets */
.team-set {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.middle-set {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.teamsleft {
  left: 0;
}

.teamsleft1 {
  left: 8%;
}

.teamsleft2 {
  left: 16%;
}

.teamsleft3 {
  left: 24%;
}

.teamsleft4 {
  left: 32%;
}

.teamsleftfinal {
  left: 40%;
}

.teamsright {
  right: 0;
}

.teamsright1 {
  right: 8%;
}

.teamsright2 {
  right: 16%;
}

.teamsright3 {
  right: 24%;
}

.teamsright4 {
  right: 32%;
}

.teamsrightfinal {
  right: 40%;
}

.champion {
  right: 48%;
  position: absolute;
}
/* Styles for teams buttons */
.team {
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.team:nth-child(even) {
  margin-bottom:20px;
}

.team:hover {
  background-color: lightgray;
}

/* Styles for the bracket container */
.bracket {
  width: 100%;
  height: 100%;
}

/*
.bruhbutton {
  right: 80%;
  width: 10%;
  height: 10%;
  margin-top: 50px;
  border: 1px solid black;
  background-color: white;
}
*/

.bruhbutton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  margin-bottom: 40px;
  margin-top: 40px; /* Adjust margin-top as needed */
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.team.selected {
  background-color: rgb(4, 161, 4);
}

.button-set {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px; /* Adjust bottom spacing as needed */
  display: flex;
  justify-content: space-between; /* Spacing between buttons */
}

.round-button {
  width: 120px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
